<header>
    <nav>
        <a href="/">Photo Album</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Sign Up</a></li>
        </ul>
    </nav>
</header>