<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Photo Album</a>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/users/new">Register</a></li>
            <li><a href="/photos">My Photos</a></li>
            <li><a href="/photos/new">Upload Photo</a></li>
        </ul>
    </nav>
</header>