<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Photo Album</a>
        <ul>            
            <li><a href="/photos">My Photos</a></li>
            <li><a href="/photos/new">Upload Photo</a></li>
            <li><a href="/photos/shared">Shared Photos</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>