<h2>Upload Photo</h2>
<form action="/photos" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %> 
    <a href="/photos">Cancel</a>
    <button type="submit">Create</button>
</form>