<div class="form-row">
    <div class="form-item">
        <label>Username</label>
        <input type="text" id="name" name="name" value="<%= user.name %>">
        <label>Email</label>
        <input type="email" id="email" name="email" value="<%= user.email %>">
        <label>Password</label>
        <input type="password" id="password" name="password" value="<%= user.password %>">
    </div>
</div>

